<body>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-md-2 left-panel">
                <div class="text-light">
                    <a href="http://prishtinaonline.com/">
                        <div class="row left-panel-title">
                            <img src="img/logo-pr-white.svg" alt="prishtina emblem" />
                            <h2>PRISHTINA ONLINE</h2>
                        </div>
                    </a>
                    <a id="hammenu" onclick="MenuVisible()" class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                        <h3>
                            <i class="fa fa-bars"></i>
                        </h3>
                    </a>
                    <a id="menu-contract">
                        <h3>KONTRATAT</h3>
                    </a>
                    <a id="menu-add">
                        <h3>SHTO</h3>
                    </a>
                    <a id="menu-modify">
                        <h3>MODIFIKO</h3>
                    </a>
                    <a id="menu-archive">
                        <h3>ARKIVA</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-10 bg-light h-100 right-panel" style="max-height:100%;overflow-y:auto;">
                <div clas="row">
                    <div id="view-contract">
                        <h2>Kerko Kontrata</h2>
                        <div class="clearfix"></div>
                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Emri</th>
                                    <th scope="col">Numri i Prokurimit</th>
                                    <th scope="col">Data e Fillimit</th>
                                    <th scope="col">Data e mbarimit</th>
                                    <th scope="col">Kontraktuesi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% docs.map((doc) => { %>
                                    <tr class="contract-row" data-toggle='modal.$rowid_projec' data-target="#myModal$row[id_project]" onclick="popup('id01','<%= doc.procurement_type %>','<%= doc.price %>','<%= doc.contractor_name %>')">
                                        <td id='popupproj' scope="row">
                                            <%= doc.contract_title %>
                                        </td>
                                        <td>
                                            <%= doc.procurement_number %>
                                        </td>
                                        <td>
                                            <%= doc.imp_deadline_start %>
                                        </td>
                                        <td>
                                            <%= doc.imp_deadline_end %>
                                        </td>
                                        <td>
                                            <%= doc.contractor_name %>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                        <div class="w3-container">
                            <div id="id01" class="w3-modal">
                                <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                                    <header class="w3-container w3-blue">
                                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
                                        <h2 id="contract_title_modal" style="padding-top:1%;">Projekti</h2>
                                    </header>
                                    <div id="London" class="w3-container city">
                                        <h1 id="contract_content_modal">Diçka shkoi keq.</h1>
                                        <p id="contract_price_modal">Ju lutem provoni më vonë.</p>
                                    </div>
                                    <div class="w3-container w3-light-grey w3-padding">
                                        <button class="w3-button w3-right w3-white w3-border" onclick="document.getElementById('id01').style.display='none'">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div id="add-contract">
                        <div class="col-md-8 offset-md-2 column">
                            <h1 class="title">Shto kontratën e re</h1>
                            <br />
                            <form method="post" action="/create">
                                <div class="form-group">
                                    <h2>Informata bazike: </h2>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="contract_title">Titulli i kontratës</label>
                                            <input type="text" id="contract_title" name="contract_title" class="form-control" placeholder="Titulli i kontratës" required
                                            />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Ky njoftim është përgatitur në GJUHËT: </label>
                                            <br />

                                            <div class="form-check form-check-inline">
                                                <div class="col-md-6">
                                                    <input class="form-check-input" type="checkbox" id="albanian" name="language1" value="true" required />
                                                    <label class="form-check-label" for="albanian">Shqip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-check-input" type="checkbox" id="english" name="language2" value="true" required />
                                                    <label class="form-check-label" for="english">Anglisht</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-check-input" type="checkbox" id="serbian" name="language3" value="true" required />
                                                    <label class="form-check-label" for="serbian">Serbisht</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h2>Prokurimi: </h2>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="procurement_number">Nr. rendor i prokurimit</label>
                                            <input class="form-control" id="procurement_number" name="procurement_number" type="text" placeholder="Nr. rendor i prokurimit"
                                                onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                required />
                                        </div>

                                        <div class="col-md-5">
                                            <label for="procurement_type">Lloji i prokurimit</label>
                                            <div class="d-none d-sm-none d-md-block d-lg-none">
                                                <br />
                                            </div>
                                            <select class="form-control" id="procurement_type" name="procurement_type" type="text" required>
                                                <option name="null" selected="selected">Lloji i prokurimit</option>
                                                <optgroup label="Punë">
                                                    <option value="pune_egzekutim">Ekzekutim</option>
                                                    <option value="pune_planegzekutim">Plani dhe ekzekutimi</option>
                                                    <option value="pune_realizim">
                                                        Realizimi, në çfarëdo mënyre, të punës, përgjegjës me kërkesa
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Furnizime">
                                                    <option value="furnizime_blerje">Blejra</option>
                                                    <option value="furnizime_lizing">Qira Financiare (Lizing)</option>
                                                    <option value="furnizime_qira">Qira</option>
                                                    <option value="furnizime_blerjekeste">Blerje me këste</option>
                                                    <option value="furnizime_combo">Një kombinim i këtyre</option>
                                                </optgroup>
                                                <optgroup label="Sherbime">
                                                    <option value="sherbime_sherbime">Shërbime</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="procurement_activity">Aktiviteti i prokurimit</label>
                                            <input class="form-control" id="procurement_activity" name="procurement_activity" maxlength="17" type="text" placeholder="Aktiviteti i prokurimit"
                                                required />
                                        </div>
                                    </div>

                                </div>
                                <br />
                                <br />
                                <br>
                                <br>
                                <br>
                                <div class="form-group">
                                    <h2>Datat: </h2>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="date_start">Data e inicimit të aktivitetit të prokurimit</label>
                                            <input class="form-control" id="date_start" name="date_start" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                required />
                                        </div>
                                        <div class="col-md-5">
                                            <label for="date_publication">Data e publikimit të shpalljes</label>
                                            <div class="d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
                                            <input class="form-control" name="date_publication" id="date_publication" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                required />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="date_signed">Data e nënshkrimit të kontratës</label>
                                            <input class="form-control" id="date_signed" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                name="date_signed" required>
                                        </div>
                                    </div>
                                    <br />
                                    <label for="imp_deadline_start">Afati për implementimin e kontratës</label>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="d-md-none d-lg-none d-xl-none">
                                                <label>(Prej)</label>
                                            </div>
                                            <input class="form-control" id="imp_deadline_start" name="imp_deadline_start" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                required>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="d-md-none d-lg-none d-xl-none">
                                                <label>(Deri)</label>
                                            </div>
                                            <input class="form-control" id="imp_deadline_end" name="imp_deadline_end" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                required>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="conclusion_date">Data e përmbylles së kontratës (data e pranimit të përkohshëm / preliminar)</label>
                                            <input class="form-control" id="conclusion_date" name="conclusion_date" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <h2>Çmimi dhe të dhënat tjera:</h2>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="price">Çmimi i kontratës (duke përfshirë të gjitha taksat)</label>
                                            <input class="form-control" id="price" name="price" type="text" placeholder="Çmimi i kontrates" required />
                                        </div>
                                        <div class="col-md-5">
                                            <label for="total_price">Çmimi total i paguar për kontraten</label>
                                            <div class="d-none d-sm-block d-md-block d-lg-none d-xl-block">
                                                <br />
                                            </div>
                                            <input class="form-control" id="total_price" name="total_price" type="text" placeholder="Çmimi total" required />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="contractor_name">Emri i të cilit i është dhënë kontrata</label>
                                            <input class="form-control" id="contractor_name" name="contractor_name" type="text" placeholder="Emri dhe mbiemri" required
                                            />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input class="btn btn-primary btn-block" type="submit" value="Dërgo" />
                                            </div>
                                            <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
                                                <br />
                                                <br />
                                            </div>
                                            <div class="col-md-5">
                                                <button class="btn btn-secondary btn-block" type="reset" onclick="ClearAll()">Fshij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <br />
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div id="modify-contract">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Menaxho Kontratat</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="datatable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Emri</th>
                                            <th>Numri i Prokurimit</th>
                                            <th>Data e Fillimit</th>
                                            <th>Data e mbarimit</th>
                                            <th>Kontraktuesi</th>
                                            <th>Ndrysho</th>
                                            <th>Fshij</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        <% docs.map((doc) => { %>
                                            <tr class="contract-row">
                                                <td id='popupproj' data-toggle='modal.$rowid_projec'>
                                                    <%= doc.contract_title %>
                                                </td>
                                                <td data-toggle='modal.$rowid_projec'>
                                                    <%= doc.procurement_number %>
                                                </td>
                                                <td data-toggle='modal.$rowid_projec'>
                                                    <%= doc.imp_deadline_start %>
                                                </td>
                                                <td data-toggle='modal.$rowid_projec'>
                                                    <%= doc.imp_deadline_end %>
                                                </td>
                                                <td data-toggle='modal.$rowid_projec'>
                                                    <%= doc.contractor_name %>
                                                </td>
                                                <td style="text-align:center;" class="edit_button" id="<%= doc._id %>" data-toggle='modal.$rowid_projec' data-target="#myModal$row[id_project]"
                                                    onclick="popup('id02','<%= doc.procurement_type %>','<%= doc.price %>','<%= doc.contractor_name %>')">
                                                    <i class="fa fa-edit"></i>
                                                </td>
                                                <td style="text-align:center;" onclick="confirm('A jeni te sigurt se deshironi t\'a fshini kontraten?')">
                                                    <i class="fa fa-trash"></i>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="w3-container">
                            <div id="id02" class="w3-modal">
                                <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                                    <header class="w3-container w3-blue">
                                        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
                                        <h2 id="contract_title_modal" style="padding-top:1%;">Ndrysho</h2>
                                    </header>
                                    <!-- Modal that contains the editing form -->
                                    <div class="col-md-8 offset-md-2 column">
                                        <br />
                                        <form method="post" action="/create">
                                            <div class="form-group">
                                                <h2>Informata bazike: </h2>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <label for="contract_title">Titulli i kontratës</label>
                                                        <input type="text" id="edit_contract_title" name="contract_title" class="form-control" placeholder="Titulli i kontratës"
                                                            required />
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Ky njoftim është përgatitur në GJUHËT: </label>
                                                        <br />

                                                        <div class="form-check form-check-inline">
                                                            <div class="col-md-6">
                                                                <input class="form-check-input" type="checkbox" id="edit_albanian" name="language1" value="true" required />
                                                                <label class="form-check-label" for="albanian">Shqip</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-check-input" type="checkbox" id="edit_english" name="language2" value="true" required />
                                                                <label class="form-check-label" for="english">Anglisht</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-check-input" type="checkbox" id="edit_serbian" name="language3" value="true" required />
                                                                <label class="form-check-label" for="serbian">Serbisht</label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <h2>Prokurimi: </h2>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <label for="procurement_number">Nr. rendor i prokurimit</label>
                                                        <input class="form-control" id="edit_procurement_number" name="procurement_number" type="text" placeholder="Nr. rendor i prokurimit"
                                                            onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                            required />
                                                    </div>

                                                    <div class="col-md-5">
                                                        <label for="procurement_type">Lloji i prokurimit</label>
                                                        <div class="d-none d-sm-none d-md-block d-lg-none">
                                                            <br />
                                                        </div>
                                                        <select class="form-control" id="edit_procurement_type" name="procurement_type" type="text" required>
                                                            <option name="null" selected="selected">Lloji i prokurimit</option>
                                                            <optgroup label="Punë">
                                                                <option value="pune_egzekutim">Ekzekutim</option>
                                                                <option value="pune_planegzekutim">Plani dhe ekzekutimi</option>
                                                                <option value="pune_realizim">
                                                                    Realizimi, në çfarëdo mënyre, të punës, përgjegjës me kërkesa
                                                                </option>
                                                            </optgroup>
                                                            <optgroup label="Furnizime">
                                                                <option value="furnizime_blerje">Blejra</option>
                                                                <option value="furnizime_lizing">Qira Financiare (Lizing)</option>
                                                                <option value="furnizime_qira">Qira</option>
                                                                <option value="furnizime_blerjekeste">Blerje me këste</option>
                                                                <option value="furnizime_combo">Një kombinim i këtyre</option>
                                                            </optgroup>
                                                            <optgroup label="Sherbime">
                                                                <option value="sherbime_sherbime">Shërbime</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <label for="procurement_activity">Aktiviteti i prokurimit</label>
                                                        <input class="form-control" id="edit_procurement_activity" name="procurement_activity" maxlength="17" type="text" placeholder="Aktiviteti i prokurimit"
                                                            required />
                                                    </div>
                                                </div>

                                            </div>
                                            <br />
                                            <br />
                                            <br>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <h2>Datat: </h2>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <label for="date_start">Data e inicimit të aktivitetit të prokurimit</label>
                                                        <input class="form-control" id="edit_date_start" name="date_start" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                            required />
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label for="date_publication">Data e publikimit të shpalljes</label>
                                                        <div class="d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
                                                        <input class="form-control" name="date_publication" id="edit_date_publication" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                            required />
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <label for="date_signed">Data e nënshkrimit të kontratës</label>
                                                        <input class="form-control" id="edit_date_signed" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                            name="date_signed" required>
                                                    </div>
                                                </div>
                                                <br />
                                                <label for="imp_deadline_start">Afati për implementimin e kontratës</label>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="d-md-none d-lg-none d-xl-none">
                                                            <label>(Prej)</label>
                                                        </div>
                                                        <input class="form-control" id="edit_imp_deadline_start" name="imp_deadline_start" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                            required>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="d-md-none d-lg-none d-xl-none">
                                                            <label>(Deri)</label>
                                                        </div>
                                                        <input class="form-control" id="edit_imp_deadline_end" name="imp_deadline_end" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                            required>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <label for="conclusion_date">Data e përmbylles së kontratës (data e pranimit të përkohshëm / preliminar)</label>
                                                        <input class="form-control" id="edit_conclusion_date" name="conclusion_date" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <h2>Çmimi dhe të dhënat tjera:</h2>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <label for="price">Çmimi i kontratës (duke përfshirë të gjitha taksat)</label>
                                                        <input class="form-control" id="edit_price" name="price" type="text" placeholder="Çmimi i kontrates" required />
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label for="total_price">Çmimi total i paguar për kontraten</label>
                                                        <div class="d-none d-sm-block d-md-block d-lg-none d-xl-block">
                                                            <br />
                                                        </div>
                                                        <input class="form-control" id="edit_total_price" name="total_price" type="text" placeholder="Çmimi total" required />
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <label for="contractor_name">Emri i të cilit i është dhënë kontrata</label>
                                                        <input class="form-control" id="edit_contractor_name" name="contractor_name" type="text" placeholder="Emri dhe mbiemri" required
                                                        />
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <input class="btn btn-primary btn-block" type="submit" value="Ndrysho" />
                                                        </div>
                                                        <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
                                                            <br />
                                                            <br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <br />
                                        <br />
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                    <div class="w3-container w3-light-grey w3-padding">
                                        <button class="w3-button w3-right w3-white w3-border" onclick="document.getElementById('id02').style.display='none'">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript to switch between menus -->
    <script type="text/javascript">
        $('#switch-forms').on('click', function () {
            $('#switch-forms').removeClass('active');
            $(this).addClass('active');
        });
        $('#menu-contract').on('click', function () {
            $('#add-contract').hide();
            $('#modify-contract').hide();
            $('#view-contract').show();
        });
        $('#menu-add').on('click', function () {
            $('#view-contract').hide();
            $('#modify-contract').hide();
            $('#add-contract').show();
        });
        $('#menu-modify').on('click', function () {
            $('#view-contract').hide();
            $('#modify-contract').show();
            $('#add-contract').hide();
        });
    </script>
    <!-- Sets date placeholders with today's date -->
    <script type="text/javascript">
        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth() + 1;

        var year = today.getFullYear();
        if (day < 10) {
            day = '0' + day;
        }
        if (month < 10) {
            month = '0' + month;
        }
        var today = day + '.' + month + '.' + year;
        document.getElementById("date_start").placeholder =
            document.getElementById("date_publication").placeholder =
            document.getElementById("date_signed").placeholder =
            document.getElementById("imp_deadline_start").placeholder =
            document.getElementById("imp_deadline_end").placeholder =
            document.getElementById("conclusion_date").placeholder = today;
    </script>

    <script>
        function ShowMenu(el) {
            el.style.display = "block";
        }
        function HideMenu(el) {
            el.style.display = "none";
        }
    </script>
    <!-- Hides menus via hamburger menu click -->
    <script type="text/javascript">
        function MenuVisible() {
            var x = ['menu-contract', 'menu-add', 'menu-archive', 'menu-modify'];
            for (i = 0; i < x.length; i++) {
                if (document.getElementById(x[i]).style.display === "none") {
                    ShowMenu(document.getElementById(x[i]));
                } else {
                    HideMenu(document.getElementById(x[i]));
                }
            }
        }
    </script>

    <!-- Fixes following bug: if hamburger menu is clicked and window is resized, the hamburger
         menu disappear but the other menus stay non-visible when they actually need to be visible -->
    <script>
        window.onresize = function (event) {
            var x = ['menu-contract', 'menu-add', 'menu-archive', 'menu-modify'];
            for (i = 0; i < x.length; i++) {
                ShowMenu(document.getElementById(x[i]));
            }
        };
    </script>

    <!-- hides menus at smaller screen on scroll, to get move view screen -->
    <script>
        $(".right-panel").on('scroll', function () {
            var screenWidth = $(window).width();
            if (screenWidth <= 768) { // if screen is that of a tablet or phone
                var x = ['menu-contract', 'menu-add', 'menu-archive', 'menu-modify'];
                for (i = 0; i < x.length; i++) {
                    HideMenu(document.getElementById(x[i]));
                }
            }
        });
    </script>

    <!-- Javascript function for modal -->
    <script type="text/javascript">
        function popup(id, type, price, content) {
            document.getElementById(id).style.display = 'block';
            document.getElementById('contract_title_modal').innerHTML = "Lloji:" + type;
            document.getElementById('contract_content_modal').innerHTML = content;
            document.getElementById('contract_price_modal').innerHTML = "Çmimi: " + price;
        }
    </script>

<script type="text/javascript">
    $(function () {
        var inputmask = new Inputmask("###-##-###-#-#-#");
        inputmask.mask($('[id*=procurement_number]'));
        inputmask.mask($('[id*=edit_procurement_number]'));
    });
    $(function () {
        var inputmask = new Inputmask("##.##.####");
        inputmask.mask($('[id*=date_start]'));
        inputmask.mask($('[id*=date_publication]'));
        inputmask.mask($('[id*=date_signed]'));
        inputmask.mask($('[id*=imp_deadline_start]'));
        inputmask.mask($('[id*=imp_deadline_end]'));
        inputmask.mask($('[id*=conclusion_date]'));
        inputmask.mask($('[id*=edit_date_start]'));
        inputmask.mask($('[id*=edit_date_publication]'));
        inputmask.mask($('[id*=edit_date_signed]'));
        inputmask.mask($('[id*=edit_imp_deadline_start]'));
        inputmask.mask($('[id*=edit_imp_deadline_end]'));
        inputmask.mask($('[id*=edit_conclusion_date]'));
    });

    $(function () {
        var requiredCheckboxes = $(':checkbox[required]');
        requiredCheckboxes.change(function () {
            if (requiredCheckboxes.is(':checked')) {
                requiredCheckboxes.removeAttr('required');
            } else {
                requiredCheckboxes.attr('required', 'required');
            }
        });
    });

</script>
</body>